h1 Create a transaction

form(action="/trans/create", method="POST")
  div(style="display: flex; margin-bottom: 5px")
    lable(style="flex-basis: 18%;")
      b User
    select(name="userId")
      each user in users
        option(value=`${user.id}`)= user.name
  div(style="display: flex; margin-bottom: 5px")
    lable(style="flex-basis: 18%;")
      b Book
    select(name="bookId")
      each book in books
        option(value=`${book.id}`)= book.title
  button Create