h1 Create a book

form(action="/books/create", method="POST")
  div(style="display: flex; margin-bottom: 5px")
    lable(style="flex-basis: 18%;")
      b Title
    input(type="text", name="title")
  div(style="display: flex; margin-bottom: 5px")
    lable(style="flex-basis: 18%;")
      b Description
    input(type="text", name="des")
  button Create