extends ./layouts/common.pug

block content
  h1 Create a book

  form(action="/books/create", method="POST")
    div.form-group
      lable
        b Title
      input.form-control(type="text", name="title")
    div.form-group
      lable
        b Description
      input.form-control(type="text", name="des")
    button.btn.btn-primary Create