extends ./layouts/common.pug

block content
  h1 Update information user

  form(action="/users/update", method="POST", enctype="multipart/form-data")
    div.form-group
      lable
        b ID user
      input.form-control(type="text", name="id", value=`${user.id}`, readonly, style="background-color: grey;")
    div.form-group
      lable
        b Avatar
      img.form-control(src=`${user.avatarUrl || 'https://image.shutterstock.com/image-vector/male-default-avatar-profile-gray-260nw-387037984.jpg'}`)
    div.form-group
      lable
        b Name
      input.form-control(type="text", name="name", value=`${user.name}`)
    div.form-group
      lable
        b Email
      input.form-control(type="text", name="email", value=`${user.email}`)
    div.form-group
      lable
        b Upload Image
      input.form-control-file(type="file", name="avatar")
    button.btn.btn-primary Update